.header-main-container {
    background-color: #fff;
    height: 7vh;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: flex-start; /* Align elements to the top */
    align-items: left;
    margin: 0 auto;
    border-bottom: 1px solid #dbdee1;
}

.logo-container {
    margin: 1.7vh;
    margin-left: 15vh;
}

.logo {
    width: 13vh;
    height: 3.5vh;
}